@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700&family=Josefin+Slab:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,600&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400&display=swap');

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css");

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

:root{
    --font-primary: "Baloo Da 2", sans-serif;
    --font-secundary: "Josefin Slab", sans-serif;
    --font-action: "Muli", sans-serif;
}

.hamburguer {
    width: 2rem;
    height: 2rem;
    position: fixed;
    z-index: 100;
    right: 2rem;
    top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
}

.show-menu .hamburguer {
    right: 16rem;
}

.line {
    width: 100%;
    height: .1rem;
    background-color:#fff;
    box-shadow: 0.1rem 0.1rem 1px #000;
    transition: transform 1s;

}

.show-menu #line1 {
    transform: rotate(45deg) translate(.2rem, .45rem);
}

.show-menu #line2{
    opacity: 0;
    visibility: hidden;
}

.show-menu #line3{
    transform: rotate(-45deg) translate(.2rem, -.45rem);
}

.hamburguer span{
    position: absolute;
    left: 3rem;
    height: 2rem;
    width: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a044ff;
    color: #fff;
    font-family: var(--font-action);
    opacity: 0;
}

.hamburguer span::before{
    content:"";
    position: absolute;
    border-right: .5rem solid #a044ff;
    border-top: .5rem solid transparent;
    border-left: .5rem solid transparent;
    border-bottom: .5rem solid transparent;
    left: -1rem;

}

.show-menu .hamburguer:hover span {
    opacity: 1;
}

header {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.img-wrapper {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 1);
}

.img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.7;
    animation: zoom 18s;
}

@keyframes zoom {
    0% {
        transform: scale(1.3);
    }
    100% {
        transform: scale(1);
    }
}

.banner {
    position: absolute;
    top: 30%;
    left: 15%;
    
}

.banner h1 {
    color: #ffffff;
    font-size: 3rem;
    font-family: var(--font-primary);
    font-weight: 200;
    text-shadow: .2rem .3rem 2px rgba(0,0,0,.4);
    line-height: 3.5rem;
    margin-bottom: 1.5rem;
    animation: moveBanner 1s 0.5s forwards;
    opacity: 0;
}

.banner .cadastro-h1 {
    font-family: var(--font-secundary);
    color: rgba(255, 255, 255, 1);
    font-size: 2rem;
    text-shadow: .2rem .3rem 2px rgba(0,0,0,.4);
    margin-bottom: 1rem;
    animation: moveBanner 1s 0.7s forwards;
    opacity: 0;
}

.banner input{
    color: #000000;
    font-size: 1rem;
    font-family: var(--font-secundary);
    font-weight: 200;
    line-height: 2rem;
    width: 50%;
    margin-bottom: 2rem;
    animation: moveBanner 1s 0.5s forwards;
    opacity: 0;
    border: none;
    border-radius: 1rem;
    padding-left: 1rem;
}

.cadastro {
    color: rgba(231, 231, 231, 0.897);
    font-size: 1rem;
    font-family: var(--font-secundary);
    line-height: 2rem;
    animation: moveBanner 1s 0.5s forwards;
    opacity: 0;
    border: none;
    border-radius: 1rem;
}



::placeholder {
    color: black;
    font-size: 1rem;
}

.banner input[type=submit] {
    font-family: var(--font-action);
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: .1rem;
    background: #8E2DE2; 
    background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);  
    background: linear-gradient(to right, #4A00E0, #8E2DE2);
    padding: 0.7rem;
    width: 40%;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    animation: moveBanner 1s 0.9s forwards;
    opacity: 0;
}

@keyframes moveBanner {
    0% {
        transform: translateY(10rem) rotateY(-30deg);
    }
    100% {
        transform:translateY(0) rotateY(0);
        opacity: 1;
    }

}

.sidebar {
    width: 20rem;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.719);
    position: fixed;
    top: 0;
    right: -20rem;
    transition: all 0.8s;
}

.show-menu .sidebar{
    right: 0;
}

.menu {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu-item{
    text-align: center;
    margin-bottom: 3rem;


}

.menu-link {
    font-family: var(--font-action);
    font-size: 1.7rem;
    color: rgb(197, 197, 197);
    transition: color 0.5s;
}

.menu-link:hover {
    color: #6a3093;
}

.social-media {
    position: absolute;
    bottom: 2rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;

}

.social-media i{
    background-color: #6a3093;
    color:rgba(255, 255, 255, 1);
    height: 2.5rem;
    width: 2.5rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: background-color 0.7s;
}

.social-media i:hover{
    background-color: #a044ff;
}

footer {
    width: 100%;
    height: 7rem;
    background-color: rgba(0, 0, 0, 0.972);
    display: flex;
    justify-content: center;
    align-items: center;

}

.footer-content {
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.footer-content p {
    font-family: var(--font-secundary);
    color: #a7a7a7;
    font-size: 1.2rem;

}

.social-list a {
    margin: 0 2rem;
    color:#a7a7a7;
    font-size: 1.3rem;
}

.social-list ul {
    display: flex;
}


@media only screen and (max-width: 650px) {
   
    .footer-content p {
        margin-bottom: 1rem;
    
    }

    .footer-content {
        width: 60%;
        display: flex;
        justify-content: center;
        flex-direction: column;

    }

}

@media only screen and (max-width: 360px) {

    #link-topo{
        display: none;
    }

    .social-list {
        display: none;
    }
}